html,
body{
    background-color:#41b883;
    color: #eee;

}

.app{
    display: block;
    text-align: center;
   
}
.count{
    font-size: 3rem;
    font-weight: bold;
}
button{
    background-color:#35495e;
    border: none;
    font-weight: bold;
    color: snow;
    padding: 1rem;
    font-size: 1rem;
    margin: 0 0.5rem;
    
}
button:hover{
    cursor:pointer;
    background-color:rgb(112, 143, 172);
}